@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;

  /* Light theme */
  --color-primary-light: #00A65A;
  --color-secondary-light: #FFD700;
  --color-background-light: #F5F5F5;
  --color-text-light: #333;
  --color-text-lighter: #666;
  --color-text-lightest: #999;
  --color-border-light: #E0E0E0;

  /* Dark theme */
  --color-primary-dark: #00A65A;
  --color-secondary-dark: #FFD700;
  --color-background-dark: #333;
  --color-text-dark: #F5F5F5;
  --color-text-darker: #666;
  --color-text-darkest: #999;
  --color-border-dark: #E0E0E0;
}